.btn{
    --btn-bg-color: var(--text-color-primary);
    --btn-color: var(--bg-color);
    border: 0;
    

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    border-radius: .5rem;

    font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);

    cursor: pointer;

    background: var(--btn-bg-color);
    color: var(--btn-color);
}

.btn-sm{
    padding: .5rem 1rem;
    font-size: var(--fs-sm);
}

#origin{
    grid-column: span 4;
    border-radius: 0 0 0 .75rem;
    cursor: pointer;
    border: 1px solid black;
    padding-inline: 0.8rem;
}

#destination{
    grid-column: span 4;
    border-radius: 0 0 0 .75rem;
    cursor: pointer;
    border: 1px solid black;
    padding-inline: 0.8rem;
}

#startDate{
    grid-column: span 2; /*Faz com que o item ocupe duas colunas*/
    cursor: pointer;
    border-radius: 0 0 0 .75rem;
    border: 1px solid black;
    padding-inline: 0.8rem;
}

#endDate{
    grid-column: span 2; 
    cursor: pointer;
    border-radius: 0 0 0 .75rem;
    border: 1px solid black;
    padding-inline: 0.8rem;
}

.searchButton{
    padding: .5rem 1rem;
    font-size: var(--fs-base);
    grid-column: span 4; 
    border-radius: .5rem;
    cursor: pointer;
}
.searchButton:hover{
    background-color: rgb(133, 124, 124);
}

@media(width >= 80em){
    & #destination, #startDate{
        width: 18.125rem;
        height: 4.5rem;
        border-radius: 0;
    }

    & #origin{
        border-radius: .75rem 0 0 .75rem;
        height: 4.5rem;
    }

    & #endDate{
        border-radius: 0 .75rem .75rem 0;
        height: 4.5rem;
    }
    

    & .searchButton{
        margin-left: .75rem;
        border-radius: .75rem;
        height: 4.5rem;
        width: 8rem;
    }
}